footer.footer 
    .footer__logo 
        img(src='/imgs/logo-white.png' alt='Travel with me')
    ul.footer__nav
        li: a(href='#') Về chúng tôi
        li: a(href='#') Liên hệ
    p.footer__copyright &copy: by Hoang Pham with love <3