extends base
block content 
    main 
        .login_require
            h1 Tài khoản của bạn đã bị xóa khỏi hệ thống, vui lòng liên hệ admin để khôi phục!
            h1 Email của admin: admin@gmail.com