extends base
block content 
    main 
        .login_require
            h1 Tài khoản của bạn đã bị khóa, vui lòng liên hệ với admin để được mở khóa!
            h1 Email của admin: admin@gmail.com