extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Đăng nhập vào tài khoản của bạn
            form( action="/auth/login" method="post").form.form--login
                .form__group
                    label.form__label(for='email') Email
                    input#email.form__input(type='email', placeholder='you@example.com', required, name="email")
                .form__group.ma-bt-md
                    label.form__label(for='password') Mật khẩu
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8', name="password")
                //- form__group 
                //-     input(type="hidden", name="previous_url" value=`${url}`)
                .form__group
                    button(type='submit').btn.btn--green Đăng nhập
                        