# Port number
PORT

# URL of the Mongo DB
MONGODB_URL

# Google Client Id for Web brower
GOOGLE_CLIENT_ID_WEB

# Google Client Id for Mobile APP
GOOGLE_CLIENT_ID_MOBILE

# JWT
# JWT secret key
JWT_SECRET

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60

# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=15